<div class="col mt-3 register">
  <div class="title">
    <h1>Registration Form</h1>
  </div>
  <form action="/register" method="POST" class="row justify-content-center my-5">
    <div class="mb-3 col-4">
      <label for="Name" class="form-label">Name</label>
      <input type="text" name="name" class="form-control formInput {{#if errors.name}}is-invalid{{/if}}"
        aria-describedby="nameHelp" value="{{ user.name }}">
      {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
    </div>

    <div class="mb-3 col-4">
      <label for="LastName" class="form-label">Last name</label>
      <input type="text" name="lastName" class="form-control formInput {{#if errors.lastName}}is-invalid{{/if}}" aria-describedby="name" value="{{user.lastName}}">
      {{#if errors.lastName}}<div class="invalid-feedback">{{errors.lastName}}</div>{{/if}}
    </div>

    <div class="mb-3 col-8">
      <label for="Email1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control formInput {{#if errors.email}}is-invalid{{/if}}" aria-describedby="email" value="{{user.email}}">
      {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
    </div>

    <div class="mb-3 col-8">
      <label for="Phone" class="form-label">Phone</label>
      <input type="text" name="phone" class="form-control formInput {{#if errors.phone}}is-invalid{{/if}}" aria-describedby="phone" value="{{user.phone}}">
      {{#if errors.phone}}<div class="invalid-feedback">{{errors.phone}}</div>{{/if}}
    </div>

    <div class="mb-3 col-8">
      <label class="visually-hidden" for="team" aria-describedby="team">Team</label>
      <select class="form-select form-control formInput {{#if errors.team}}is-invalid{{/if}}" name="team" id="team">
        <option selected value=""> Choose the team</option>
        {{#each teams as |team|}}
          <option value="{{team}}">{{team}}</option>
        {{/each}}
      </select>
      {{#if errors.team}}<div class="invalid-feedback">{{errors.team}}</div>{{/if}}

    </div>

    <div class="mb-3 col-8">
      <label class="visually-hidden" for="Office" aria-describedby="Office">Office</label>
      <select class="form-select formInput {{#if errors.office}}is-invalid{{/if}}" name="office" id="Office">
        <option selected value="">Choose the office</option>
        {{#each offices as |office|}}
          <option value="{{office}}">{{office}}</option>
        {{/each}}
      </select>
        {{#if errors.office}}<div class="invalid-feedback">{{errors.office}}</div>{{/if}}

    </div>

<div class="mb-3 col-8">
      <label class="visually-hidden" for="Role" aria-describedby="Office">Role</label>
      <select class="form-select formInput" name="role" id="Role">
        <option selected>Choose a role</option>
        <option value="user">user</option>
        <option value="admin">admin</option>
      </select>
    </div>

    <div class="col-8">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>