 <form action="/kudos" method="POST">
  <div class="form-group mb-1">

  <div class="form-group mb-1">
    <label for="eskudos">Eskudos</label>
    <select class="form-select" name="eskudos" show-labels multiple aria-label="Eskudos" id="eskudos">
      <option>Select kudo</option>
      {{#each eskudos as |eskudo|}}
      <option value="{{eskudo}}" {{#restaurantHasCategory category=category restaurant=../restaurant}} selected
        {{/restaurantHasCategory}} data-img-src="{{categoryLabel id=category selector='image' }}" >{{categoryLabel id=category selector='text' }}</option>
      {{/each}}
    </select>
  </div>

    <label for="name">Name</label>
    <input name="name" type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" placeholder="Enter name"
      value="{{ restaurant.name }}">
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group mb-1">
    <label for="address">Address</label>
    <input name="address" type="text" class="form-control {{#if errors.address}}is-invalid{{/if}}" id="address" placeholder="Enter address"
      value="{{ restaurant.address }}">
    {{#if errors.address}}
      <div class="invalid-feedback">
        {{errors.address.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group mb-1">
    <label for="image">Image</label>
    <input name="image" type="text" class="form-control {{#if errors.image}}is-invalid{{/if}}" id="image" placeholder="Enter image"
      value="{{ restaurant.image }}">
    {{#if errors.image}}
      <div class="invalid-feedback">
        {{errors.image.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group mb-1">
    <label for="text">Description</label>
    <textarea name="description" type="text" class="form-control html-editor {{#if errors.description}}is-invalid{{/if}}" id="text"
      placeholder="Enter restaurant description" rows="10">{{ restaurant.description }}</textarea>
    {{#if errors.description}}<div class="invalid-feedback">{{errors.description}}</div>
    {{/if}}
  </div>

  <div class="form-group mb-1">
    <label for="capacity">Capacity</label>
    <input name="capacity" type="number" class="form-control {{#if errors.capacity}}is-invalid{{/if}}" id="capacity" placeholder="Enter capacity"
      value="{{ restaurant.capacity }}">
    {{#if errors.capacity}}
      <div class="invalid-feedback">
        {{errors.capacity.message}}
      </div>
    {{/if}}
  </div>

  <div class="form-group mb-1">
    <label for="maxProductCost">Max Product Cost</label>
    <input name="maxProductCost" type="number" class="form-control {{#if errors.maxProductCost}}is-invalid{{/if}}" id="maxProductCost" placeholder="Enter maxProductCost"
      value="{{ restaurant.maxProductCost }}">
    {{#if errors.maxProductCost}}
      <div class="invalid-feedback">
        {{errors.maxProductCost.message}}
      </div>
    {{/if}}
  </div>



  

  <button type="submit" class="btn btn-primary">Send</button>
</form>