<main>
    <div class="container">
        <div class="img"
            style="    background-image: url(img/illustrations/monito.jpg );height: 350px;background-size:cover;">
        </div>
        <div class="card1 social-prof">
            <div class="card1-body">
                <div class="wrapper">
                    <img src={{currentUser.photo}} alt="" class="user-profile">
                    <h3>{{currentUser.name}} {{currentUser.lastName}}</h3>
                    <p>{{currentUser.team}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card1">
                    <div class="card1-body">
                    </div>

                    <ul class="currentUserList">
                        <li class="currentUserList-item">
                            <div class="h6 text-muted"><i class="fas fa-briefcase"></i> Your email</div>
                            <div class="h7">{{currentUser.email}}</div>
                        </li>
                        <li class="currentUserList-item">
                            <div class="h6 text-muted"><i class="fas fa-briefcase"></i> At this company since</div>
                            <div class="h7">{{formattedStartDate date=currentUser.startDate}}</div>
                        </li>
                        <li class="currentUserList-item">
                            <div class="h6 text-muted"> <i class="fas fa-phone-alt"></i> Phone</div>
                            <div class="h7">{{currentUser.phone}}</div>
                        </li>
                        <li class="currentUserList-item">
                            <div class="h6 text-muted"><i class="fas fa-map-marker-alt"></i> Location</div>
                            <div class="h7">{{currentUser.office}}</div>
{{!--                             <div class="">
                                <img src="img/illustrations/map.png" class="d-block w-100" alt="...">
                            </div> --}}
                        </li>
                    </ul>
                </div>
                <div class="card1">
                    <div class="card1-body">
                        <p class="card1-title">"The way to develop the best that is in a person is by appreciation and encouragement."</p>
                        <p><i>Charles Swab</i></p>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="img/illustrations/kudotime.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 gedf-main">
                <!--- \\\\\\\Post-->
                <form action="/timeline" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <div class="card1 social-timeline-card1">
                        <div class="card1-header">
                            <ul class="nav nav-tabs card1-header-tabs" id="myTab" role="tablist">
                            </ul>
                        </div>
                        <div class="card1-body kudo-form">
                            <div class="container d-flex justify-content-around">
                                {{#each eskudos as |eskudo|}}
                                <div class="eskudo-container">
                                    <input class="eskudo-input {{#if errors.eskudo }}is-invalid{{/if}}" name="eskudo"
                                        value="{{ eskudo }}" type="checkbox" />
                                    <div class="eskudo-image">
                                        <img src="{{ eskudoImage eskudo=eskudo }}" />



                                    </div>
                                    <div class="hide">{{ eskudoText eskudo=eskudo }}</div>

                                </div>
                                {{/each}}

                            </div>
                            {{#if errors.eskudo}}<div class="invalid-feedback">{{errors.eskudo.message}}</div>{{/if}}
                            <div id="recipient" class="d-flex flex-row align-items-center mb-2 mt-2">
                                <input id="mate-search" name="recipient" type="text"
                                    class="form-control border-0 {{#if errors.recipient}}is-invalid{{/if}}"
                                    placeholder="who are you sending it to?" value="{{ kudo.recipient }}">

                            </div>

                            <input class="{{#if errors.recipient}}is-invalid{{/if}}" id="recipient-id" type="text"
                                name="recipientId" />
                            {{#if errors.recipient}}<div class="invalid-feedback">{{errors.recipient.message}}</div>
                            {{/if}}
                            <div id="search-mate-results">
                            </div>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="posts" role="tabpanel"
                                    aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <label class="sr-only" for="message">post</label>
                                        <textarea name="message" type="text"
                                            class="{{#if errors.message}}is-invalid{{/if}} form-control html-editor"
                                            value="{{ kudo.message }}" id="message" rows="3"
                                            placeholder="What are you thinking?"></textarea>
                                        {{#if errors.message}}<div class="invalid-feedback">{{errors.message.message}}
                                        </div>{{/if}}
                                    </div>

                                    <div class="input-group mb-3">
                                        <input type="file" name="photokudo" value="{{kudo.photokudo }}"
                                            class="custom-form-control form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-theme-primary">Send Kudo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                {{#each kudos as |kudo|}}
                <div class="card1 social-timeline-card1">
                    <div class="card1-header">
                        <div class=" fullheader d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="55" src="{{kudo.recipient.photo}}" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0 text-blue">{{kudo.recipient.name}} {{kudo.recipient.lastName}}
                                    </div>
                                    <div class="h7 text-muted">from: {{kudo.sender.name}} {{kudo.sender.lastName}}</div>
                                </div>
                            </div>

                            <div class="dropdown">
                                <img class="rounded" width="40" src="{{eskudoImage eskudo=kudo.eskudo}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card1-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{formattedDate
                            date=kudo.createdAt}}</div>
                        <a class="card1-link" href="#">
                            <h5 class="card1-title">{{eskudoText eskudo=kudo.eskudo}}</h5>
                        </a>
                        <p class="card1-text">{{kudo.message}}
                        </p>
                    </div>

                    <div>
                        <div class="card1-footer">
                            <div class="photoKudoUploaded">
                                <img class="photoUploaded" width="100" src="{{ kudo.photokudo }}" />
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="myModal modal">
                    <span class="close">&times;</span>
                    <img class="modal-content imageUploaded">
                </div>
                <!-- Post /////-->
            </div>

            <div class="col-lg-3">
                <div class="card1 social-timeline-card1">
                    <div class="card1-body">
                        <h5 class="card1-title">My team</h5>
                        <ul class="team-list">
                            {{#each teamMates as |teamMate|}}
                            <li>
                                <div class="left">
                                    <img src={{teamMate.photo}} alt="">
                                </div>
                                <div class="right teamMateDiv" data-name="{{teamMate.name}} {{teamMate.lastName}}"
                                    data-photo="{{teamMate.photo}}" data-email="Email: {{teamMate.email}}"
                                    data-phone="phone: {{teamMate.phone}}" data-office="office: {{teamMate.office}}">
                                    <h3>{{teamMate.name}} {{teamMate.lastName}}</h3>
                                    <p>{{teamMate.office}}</p>
                                </div>
                            </li>
                            {{/each}}
                            <div class="myModal2 modal">
                                <div class="modal-content modalcard">
                                    <span class="close">&times;</span>
                                    <div class="card">
                                        <div class="row content">
                                            <div class="col-md-4">
                                                <img src="" class="img-fluid rounded modalPhoto" alt="teamMatePhoto">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h5 class="card-title teamMateName"></h5>
                                                    <p class="card-text teamMateEmail"></p>
                                                    <p class="card-text teamMatePhone"></p>
                                                    <p class="card-text teamMateOffice"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>